@import "tailwindcss";

@theme {
    --color-gold: #9e7213;
    --color-gold-light: #c58e18;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}